body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Slab', serif;
 
    background-image: url("background.png");
    background-size: 50%;
}


#chatbox{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 84vh;
    width: 84vw;
    top: 8vh;
    left: 8vw;
    border-radius: 10px;
    box-shadow: -2px -2px 45px 0px rgba(0,0,0,0.35);
   }

.chat-header{
    position: fixed;
    left: 10vw;
}


.input-message{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 10vw;
    bottom: 12vh;
    width: 80vw;
    background-color: #f1f3f4;
    height: 30px;
    border-radius: 20px;
 }

 #take-input{
    border-style: none;
    width: 70vw;
    outline: none;
    background-color: #f1f3f4;
    font-size: 10px;
    position: relative;
    margin: auto 2vw;
 }

 .send-button{
    border-style: none;
    background-color: #f1f3f4;
    position: relative;
    right: -2vw;
}


#chat-window{
    position: fixed;
        top: 13vh;
        background-color: white;
        width: 80vw;
        height: 65%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align:justify;
        word-wrap: break-word;
        margin: 20px;
}

.message-list{
    list-style-type:none;
    padding: 6px;
    font-size: 10px;
}


.send-button:hover{
    color: #125D98;
}

#end-call{
    border-radius: 50%;
    margin: 10px 10px 10px 6px;
    height: 25px;
    width: 25px;
    text-align: center;
 }

#end-call:hover{
    color: white;
    background-color: red;
 }

 #end-call{
     padding-top: 3px;
 }


#copy-message{
    border-radius: 50%;
    margin: 10px;
}

#copy-message:hover{
    color: #125D98;
 }


 #copy-message:before{
    content: "Copied ✔";
    position: absolute;
    bottom: 50px;
    left: -6px;
    background:rgb(240, 240, 240);
    border-radius: 20px;
    font-size: 8px;
    padding: 5px;
    color: rgb(160, 160, 160);
    display: none;
 }

 #copy-message.active:before{
    display: inline-block;
 }

 
#open-meet{
    border-radius: 50%;
    margin: 10px;
}

#open-meet:hover{
    color: #125D98;
 }



 .toggle-chat-buttons{
     display: flex;
     flex-direction: row;
     right: 10vw;
     position: fixed;
 }